
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
ul,li{
    display: inline;
    
    margin: 0;
    padding: 0;
    transition: 1s;
}
h1{
    text-align: center;
    font-size: 6em;
    transition: 0.4s;
}
nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    
}
/* ul li a{
    text-decoration: none;
}
nav a{
    text-decoration: none;
} */
a{
    text-decoration: none;
    transition: 1s;
}

ul{
    /* border: 1px black solid; */
    max-width: 50%;
    /* width: 25%; */
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    transition: 1s;
    /* justify-content: space-evenly; */
    
    /* flex: 1 1 100px; */
}

@media (max-width: 660px){
    h1{
        color: #bc6c25;
        font-size: 5em;
    }  
    nav,ul{
        align-items: center;
        flex-direction: column;
        transition: 1s;
    }

}

@media(max-width: 560px){
    h1{
        color: #dda15e;
        font-size: 4em;
    }
    
}

@media(max-width: 460px){
    h1{
        color: #588157;
        font-size: 3em;
    }

}

@media(max-width: 360px){
    h1{
        color: #be95c4;
        font-size: 2em;
    }

}

@media(max-width: 260px){
    h1{
        color: #a98467;
        font-size: 1em;
    }

}



/* nav{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    

} */
